@font-face {
  font-family: "Gilroy";
  src: url("./assets/fonts/gilroy/Gilroy-Regular.ttf");
  // font-weight: 400;    normal
  font-style: normal;

}

@font-face {
  font-family: "Gilroy";
  src: url("./assets/fonts/gilroy/Gilroy-Bold.ttf");
  font-weight: 700;   //h1
  font-style: normal;

}

@font-face {
  font-family: "Gilroy";
  src: url("./assets/fonts/gilroy/Gilroy-Medium.ttf");
  font-weight: 500;    //normal
  font-style: normal;
}

