@import "../../styles.scss";
@import "../../variable.scss";

.container {
  //   height: 200px;
  width: 100%;
  margin: 0 auto;
}
.title-1 {
  margin-top: 35px;
  h1 {
    text-align: center;
    font-size: 5rem;
    font-weight:700;
    span {
      color: $primary-color;
    }
  }
}
.ptext-1 {
  margin: 0 auto;
  width: 55%;
  p {
    margin-top: 15px;
    text-align: center;
    font-size: 2.3rem;
    font-weight: 500;
    opacity: 1;
    color: rgb(107 114 128);
    span {
      color: $primary-color;
    }
  }
}
.box {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  .box1 {
    height: 400px;
    width: 400px;
    // background: red;
    padding: 20px 10px;
    position: relative;
    
    .innerbox1 {
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      height: 100%;
      width: 100%;
      border-radius: 20px;
      padding: 10px;
      span{
        font-weight: 600;
        background-color: aliceblue;
       padding:5px 24px;  
    // padding-bottom: 5px;
    font-size: 24px;
    line-height: 37px;
    letter-spacing: 0;
    border-radius:20px;
    display: inline-block;
    margin-bottom: 1.25rem;
      }
      p{
          font-weight: 400;
          font-size: 2rem;
      }
      h1{
        font-size: 5rem;
        font-weight: 600;
      }
      button{
        padding-left: 2.5rem;
         padding-right: 2.5rem;
        font-size:18px;
        border-radius: 38px;
        border: none;
        background-color: $primary-color;
        color: white;
        font-weight:700;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        position: absolute;
        left: 0;
        right:0;
        bottom: 0;
      }
    }

  }
  .box2 {
    height: 450px;
    width: 400px;
    padding: 20px 10px;
   
    // background: rgba(84, 253, 42, 0.664);
    position: relative;
    .innerbox2 {
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      height: 100%;
      width: 100%;
      border-radius: 20px;
      padding: 10px;
      span{
        font-weight: 600;
        background-color: aliceblue;
       padding:5px 24px;  
    // padding-bottom: 5px;
    font-size: 24px;
    line-height: 37px;
    letter-spacing: 0;
    border-radius:20px;
    display: inline-block;
    margin-bottom: 1.25rem;
      }
      p{
          font-weight: 400;
          font-size: 2rem;
      }
      h1{
        font-size: 5rem;
        font-weight: 600;
      }
      button{
        padding-left: 2.5rem;
         padding-right: 2.5rem;
        font-size:18px;
        border-radius: 38px;
        border: none;
        background-color: $primary-color;
        color: white;
        font-weight:700;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        position: absolute;
        left: 0;
        right:0;
        bottom: 0;
      }
    }
  }
  .box3 {
    height: 450px;
    width: 400px;
    padding: 20px 10px;
    // background: rgb(35, 44, 161);
    position: relative;
   
    .innerbox3 {
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      height: 100%;
      width: 100%;
      border-radius: 20px;
      padding: 10px;
      span{
        font-weight: 600;
        background-color: aliceblue;
       padding:5px 24px;  
    // padding-bottom: 5px;
    font-size: 24px;
    line-height: 37px;
    letter-spacing: 0;
    border-radius:20px;
    display: inline-block;
    margin-bottom: 1.25rem;
      }
      p{
          font-weight: 400;
          font-size: 2rem;
      }
      h1{
        font-size: 5rem;
        font-weight: 600;
      }
      button{
        padding-left: 2.5rem;
         padding-right: 2.5rem;
        font-size:18px;
        border-radius: 38px;
        border: none;
        background-color: $primary-color;
        color: white;
        font-weight:700;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        position: absolute;
        left: 0;
        right:0;
        bottom: 0;
        text-transform: none;
        
      }

    }
  }
 
}
