<div class="container">
  <div class="title-1">
    <h1>Buy <span> RoomGPT </span>Credits</h1>
  </div>
  <div class="ptext-1">
    <p>
      You have <span>3 credits</span>. Join thousands of happy customers by
      buying more below.
    </p>
  </div>
  <div class="box">
    <div class="box1">
      <div class="innerbox1"></div>
    </div>
    <div class="box2">
      <div class="innerbox2"></div>
    </div>
    <div class="box3">
      <div class="innerbox3"></div>
    </div>
  </div>
</div>
