<div class="container">
  <div class="title-1">
    <h1>Buy <span> RoomGPT </span>Credits</h1>
  </div>
  <div class="ptext-1">
    <p>
      You have <span>3 credits</span>. Join thousands of happy customers by
      buying more below.
    </p>
  </div>
  <div class="box">
    <div class="box1">
      <div class="innerbox1">
        <span>30 credits</span>
        <p>30 credits 30 room redesigns Every design available</p>
        <h1>us $9</h1>
        <button>pay now</button>
      </div>
    </div>
    <div class="box2">
      <div class="innerbox2">
        <h5>MOST POPULAR</h5>
        <span>100 Credits</span>
        <p>30 credits 30 room redesigns Every design available</p>
        <h1>us $9</h1>
        <button>pay now</button>
      </div>
    </div>
    <div class="box3">
      <div class="innerbox3">
        <span>100 Credits</span>
        <p>30 credits 30 room redesigns Every design available</p>
        <h1>us $9</h1>
        <button>pay now</button>
      </div>
    </div>
  </div>
</div>
