<div class="hole">
  <div class="row">
    <div class="col-4">
      <div class="font-bold text-md">Upload a photo of your room</div>
      <div class="outer-box">
        <div>
          <div class="main file btn btn-lg btn-primary upload-button1">
            Upload an image
            <input type="file" name="file" />
          </div>
        </div>
        <h6>...or drag and drop an image.</h6>
      </div>
      <div class="font-bold text-md1">Select Room Type</div>

      <span class="p-float-label">
        <p-dropdown
          [options]="types"
          [(ngModel)]="selectedtype"
          optionLabel="name"
        ></p-dropdown>
        
      </span>

      <div class="font-bold text-md2">Select Room Themes (up to 4)</div>

      <div class="img_flex">
        <div class="select_img">
          <div class="types_room_img"><img [ngClass]="{'active-class': tick1}" class="types_room_img1" src="../../assets/1img.png" (click)="count_img1()">
          <div *ngIf="tick1" class="types_room_tick"><img class="types_room_tick1" src="../../assets/tick.png"></div></div>
          <span>Modern</span>
        </div>

        <div class="select_img">
          <div class="types_room_img"><img [ngClass]="{'active-class': tick2}" class="types_room_img1" src="../../assets/2img.png" (click)="count_img2()">
          <div *ngIf="tick2"  class="types_room_tick"><img class="types_room_tick1" src="../../assets/tick.png"></div></div>
          <span>Summer</span>
        </div>

        <div class="select_img">
          <div class="types_room_img"><img [ngClass]="{'active-class': tick3}" class="types_room_img1" src="../../assets/3img.png" (click)="count_img3()">
          <div *ngIf="tick3"  class="types_room_tick"><img class="types_room_tick1" src="../../assets/tick.png"></div></div>
          <span>Professional</span>
        </div>

      </div>

      <div class="img_flex">

        <div class="select_img">
          <div class="types_room_img"><img [ngClass]="{'active-class': tick4}" class="types_room_img1" src="../../assets/4img.png" (click)="count_img4()">
          <div *ngIf="tick4"  class="types_room_tick"><img class="types_room_tick1" src="../../assets/tick.png"></div></div>
          <span>Tropical</span>
        </div>

        <div class="select_img">
          <div class="types_room_img"><img [ngClass]="{'active-class': tick5}" class="types_room_img1" src="../../assets/5img.png" (click)="count_img5()">
          <div *ngIf="tick5"  class="types_room_tick"><img class="types_room_tick1" src="../../assets/tick.png"></div></div>
          <span>Coastal</span>
        </div>

        <div class="select_img">
          <div class="types_room_img"><img [ngClass]="{'active-class': tick6}" class="types_room_img1" src="../../assets/6imd.png" (click)="count_img6()">
          <div *ngIf="tick6"  class="types_room_tick"><img class="types_room_tick1" src="../../assets/tick.png"></div></div>
          <span>Vintage</span>
        </div>

      </div>

      <div class="img_flex">

        <div class="select_img">
          <div class="types_room_img"><img [ngClass]="{'active-class': tick7}" class="types_room_img1" src="../../assets/7img.png" (click)="count_img7()">
          <div *ngIf="tick7"  class="types_room_tick"><img class="types_room_tick1" src="../../assets/tick.png"></div></div>
          <span>Tropical</span>
        </div>

        <div class="select_img">
          <div class="types_room_img"><img [ngClass]="{'active-class': tick8}" class="types_room_img1" src="../../assets/8img.png" (click)="count_img8()">
          <div *ngIf="tick8"  class="types_room_tick"><img class="types_room_tick1" src="../../assets/tick.png"></div></div>
          <span>Coastal</span>
        </div>

        <div class="select_img">
          <div class="types_room_img"><img [ngClass]="{'active-class': tick9}" class="types_room_img1" src="../../assets/9img.png" (click)="count_img9()">
          <div *ngIf="tick9"  class="types_room_tick"><img class="types_room_tick1" src="../../assets/tick.png"></div></div>
          <span>Vintage</span>
        </div>

      </div>





      <div>
        <button type="file" class="upload-button1">Render designs</button>
        <h6 class="ltext">
          Cost: <span class="font-bold">{{ count }} credit</span>
        </h6>
      </div>
    </div>
    <div class="col-8 cards">
      <h1 class="tracking-normal font-bold text-4xl mx-auto mb-5 hidden">
        Redesign your
        <span class="text-primary-700">room</span> in seconds
      </h1>
      <p class="text-gray-600 hidden lg:block text-lg">
        Upload a room, specify the room type, and select your room theme to
        redesign.
      </p>
      <div class="mainimg">
        <img src="../../assets/main.png" />
      </div>
    </div>
  </div>
</div>
