<div class="hole">
  <div class="row">
    <div class="col-4">
      <div class="font-bold text-md">Upload a photo of your room</div>
      <div class="outer-box">
        <div>
          <div class="main file btn btn-lg btn-primary">
            Upload an image
            <input type="file" name="file" />
          </div>
        </div>
        <br />
        <br />
        <h6>...or drag and drop an image.</h6>
      </div>
      <div class="font-bold text-md1">Select Room Type</div>
      <div>
        <br />
        <br /><br />
      </div>
      <div class="font-bold text-md2">Select Room Themes (up to 4)</div>
      <select id="fruitDropdown" class="dropdown">
        <option value="">living room</option>
        <option value="">dinig room</option>
        <option value="">badroom</option>
        <option value="">office</option>
        <option value="">kitchen</option>
        <option value="">basement</option>
        <option value="">gaming room</option>
        <option value="">outdoor patio</option>
      </select>
      <div>
        <button type="file" class="upload-button1">Render designs</button>
        <h6 class="ltext">Cost: <span class="font-bold">0 credit</span></h6>
      </div>
    </div>
    <div class="col-8 card2">
      <h1 class="tracking-normal font-bold text-4xl mx-auto mb-5 hidden">
        Redesign your
        <span class="text-primary-700">room</span> in seconds
      </h1>
      <p class="text-gray-600 hidden lg:block text-lg">
        Upload a room, specify the room type, and select your room theme to
        redesign.
      </p>
      <div class="mainimg">
        <img src="../../assets/main.png" />
      </div>
    </div>
  </div>
</div>