@import "../../styles.scss";
@import "../../variable.scss";


.hole {
  overflow-x: hidden;
}
.tracking-normal {
  letter-spacing: 0;
}
.font-bold {
  font-weight: 700;
}
.text-4xl {
  font-size: 60px;
  line-height: 151%;
  letter-spacing: 0;
}
.max-w-5xl {
  max-width: 64rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}


.text-gray-600 {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity));
}
.text-lg {
  font-size: 22px;
  line-height: 160%;
  letter-spacing: 0;
}
.mx-auto {
  margin-right: auto !important;
  margin-left: -24px !important;
}
.text-primary-700 {
  --tw-text-opacity: 1;
  color: rgb(15 127 239 / var(--tw-text-opacity));
}
p {
  margin-left: 20px;
  margin-top: -13px;
}
.mainimg {
  display: flex;
  margin-left: 210px;
  height: 315px;
  margin-top: 25px;
}
.cards {
height: 1500px;
padding-left: 50px;

}
.mainimg img {
  border-radius: 20px;
}
font-bold {
  font-weight: 700;
}

.text-md {
  font-size: 18px;
  line-height: 26px;
  //   letter-spacing: -10px;
  margin-left: 215px;
  margin-top: 10px;
}

.text-md1 {
  font-size: 19px;
  line-height: 26px;
  margin-left: 245px;
  margin-top: 27px;
  margin-bottom: 20px;
}
.text-md2 {
  font-size: 19px;
  line-height: 26px;
  margin-left: 201px;
  margin-top: 27px;
}
.outer-box {
  border: 2px dashed #e1dcdc;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  height: 244px;
  margin-left: 200px;
  width: 262px;
  margin-top: 25px;
  h6 {
    font-size: 1.4rem;
    color: $secondary-color;
    margin-left: 5px;
  }
}

.upload-button1 {
  background-color:$primary-color;
  color: white;
  padding: 14px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.7rem;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 30px;
  border: none;
  font-weight: 500;
  margin-left: 183px;
}


.ltext {
  margin-top: -40px;
  margin-left: 345px;
  font-size: 20px;
}
.main {
  position: relative;
  background-color:$primary-color;
  color: white;
  border: 1px;
  padding: 16px 29px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 5px;
  margin-top: 43px;
  margin-left: 9px;
  margin-bottom: 30px;
}

input {
  position: absolute;
  font-size: 50px;
  opacity: 0;
  right: 0;
  top: 0;
}
.dropdown {
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-left: 195px;
  font-size: 20px;

  &:focus {
    border: none;
    outline: none;
  }
  padding: 6px 130px 6px 2px;
  option {
    border-radius: 10px;
    border: 1px solid white;
    text-decoration: none;
    background-color: transparent;
  }
}

.img_flex{

  display: flex;
  gap: 20px;
  margin: 30px;
  margin-left: 150px;
  text-align: center;
  span{
    font-size: 1.6rem;
    font-weight: 500;
  }
}
.select_img{
  
      .types_room_img{
        position: relative;
        width: fit-content;
        .types_room_img1{
            width: 90px;
            height: 100px;
            border-radius: 10px;
          }
      }
      .types_room_tick{
        background-color:white;
        width: fit-content;
        border-radius: 5px;
        position:absolute;
        top: 10px;
        right: 10px;
        .types_room_tick1{
            width: 15px;
        }
      }

}

.active-class{
  padding: 5px;
}