.hole {
  overflow-x: hidden;
}
.tracking-normal {
  letter-spacing: 0;
}
.font-bold {
  font-weight: 700;
}
.text-4xl {
  font-size: 60px;
  line-height: 151%;
  letter-spacing: 0;
}
.max-w-5xl {
  max-width: 64rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}
lg\:block {
  display: block;
}

.text-gray-600 {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity));
}
.text-lg {
  font-size: 22px;
  line-height: 160%;
  letter-spacing: 0;
}
.mx-auto {
  margin-right: auto !important;
  margin-left: -24px !important;
}
.text-primary-700 {
  --tw-text-opacity: 1;
  color: rgb(15 127 239 / var(--tw-text-opacity));
}
p {
  margin-left: 20px;
  margin-top: -13px;
}
.mainimg {
  display: flex;
  margin-left: 210px;
  height: 315px;
  margin-top: 25px;
}
.card2 {
  height: 1000px;
}
.mainimg img {
  border-radius: 20px;
}
font-bold {
  font-weight: 700;
}

.text-md {
  font-size: 18px;
  line-height: 26px;
  //   letter-spacing: -10px;
  margin-left: 215px;
  margin-top: 10px;
}

.text-md1 {
  font-size: 19px;
  line-height: 26px;
  margin-left: 245px;
  margin-top: 27px;
}
.text-md2 {
  font-size: 19px;
  line-height: 26px;
  margin-left: 201px;
  margin-top: 27px;
}
.outer-box {
  border: 1px dotted #585555;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  height: 244px;
  margin-left: 200px;
  width: 262px;
  margin-top: 25px;
}

// .inner-box {
//   border: 2px solid #ccc;
//   padding: 10px;
// }

.upload-button {
  background-color: #0000ff;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 50px;
  margin-left: 14px;
}
.upload-button1 {
  background-color: #0000ff;
  color: white;
  padding: 14px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 30px;
  margin-left: 183px;
}
h6 {
  font-size: 15px;
  margin-left: 5px;
}

.ltext {
  margin-top: -40px;
  margin-left: 345px;
  font-size: 20px;
}
.main {
  position: relative;
  overflow: hidden;
  background-color: #0000ff;
  color: white;
  border: 1px;
  padding: 16px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 19px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 43px;
  margin-left: 9px;
}

input {
  position: absolute;
  font-size: 50px;
  opacity: 0;
  right: 0;
  top: 0;
}
.dropdown {
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-left: 195px;
  font-size: 20px;

  &:focus {
    border: none;
    outline: none;
  }
  padding: 6px 130px 6px 2px;
  option {
    border-radius: 10px;
    border: 1px solid white;
    text-decoration: none;
    background-color: transparent;
  }
}
