<div class="body_intro">
    <div class="body_intro_left">
        <div class="body_intro_left_1">
            Used by over <a href="#">2 million people </a>to redesign homes
        </div>

        <div class="body_intro_left_2"><h1>Your personal <span>AI</span> interior designer</h1></div>

        <div class="body_intro_left_3"><a href="#"><h5>Redesign your room </h5><img src="../../assets/logout-03.svg"></a></div>
    </div>
    <img src="../../assets/Group 1000003861.svg">
</div>


<div class="body_brands">
    <img src="../../assets/Insider Business svg.svg">
    <img src="../../assets/MSN svg.svg">
    <img src="../../assets/NBC svg.svg">
    <img src="../../assets/Mask group.svg">
    <img src="../../assets/layer1-sldkfj.svg">
</div>

<div class="body_viwes_main">
    <div class="body_viwes_main_1"><h1>Loved by many <span>Worldwide.</span></h1></div>
    <div class="body_viwes_main_2">See what our over 2 million users are saying about the product.</div>
</div>


<div class="body_reviews_main">
    <div class="body_reviews">
        <div>
        <img src="../../assets/star-positive.svg"><img src="../../assets/star-positive.svg">
        <img src="../../assets/star-positive.svg"><img src="../../assets/star-positive.svg"><img src="../../assets/star-positive.svg">
        </div>
        <div>
                <p>"This is incredible, you don't need an interior designer anymore."</p>
        </div>

        <div class="reviwes_profile">
            <div><img src="../../assets/smile.png" alt="profile"></div>
            <div><h1>Ade Dada</h1><p>Startup Founder</p></div>
        </div>
    </div>

    <div class="body_reviews">
    <div>
        <img src="../../assets/star-positive.svg"><img src="../../assets/star-positive.svg">
        <img src="../../assets/star-positive.svg"><img src="../../assets/star-positive.svg"><img src="../../assets/star-positive.svg">
        </div>
        <div>
                <p>"Finally! Something to help me get over my indecisiveness when decorating my house!"</p>
        </div>

        <div class="reviwes_profile">
            <div><img src="../../assets/smile.png" alt="profile"></div>
            <div><h1>Arthur Dvorkin</h1><p>Engineer</p></div>
        </div>
    </div>

    <div class="body_reviews">
        <div>
        <img src="../../assets/star-positive.svg"><img src="../../assets/star-positive.svg">
        <img src="../../assets/star-positive.svg"><img src="../../assets/star-positive.svg"><img src="../../assets/star-positive.svg">
        </div>
        <div>
            <p>"I haven't changed my room layout for 5 years, but this app may change that. Great job."</p>
        </div>

        <div class="reviwes_profile">
            <div><img src="../../assets/smile.png" alt="profile"></div>
            <div><h1>Rob Attfield</h1><p>Software Engineer</p></div>
        </div>
    </div>

    <div class="body_reviews">
        <div>
        <img src="../../assets/star-positive.svg"><img src="../../assets/star-positive.svg">
        <img src="../../assets/star-positive.svg"><img src="../../assets/star-positive.svg"><img src="../../assets/star-positive.svg">
        </div>
        <div>
            <p>"You can now see your rooms in different themes before you renovate. How cool is that! 😳"</p>
        </div>

        <div class="reviwes_profile">
            <div><img src="../../assets/smile.png" alt="profile"></div>
            <div><h1>Kada</h1><p>Software Engineer</p></div>
        </div>
    </div>

    <div class="body_reviews">
        <div>
        <img src="../../assets/star-positive.svg"><img src="../../assets/star-positive.svg">
        <img src="../../assets/star-positive.svg"><img src="../../assets/star-positive.svg"><img src="../../assets/star-positive.svg">
        </div>
        <div>
            <p>"So good! I need this right now. Congrats on the launch!"</p>
        </div>

        <div class="reviwes_profile">
            <div><img src="../../assets/smile.png" alt="profile"></div>
            <div><h1>Eve Porcello</h1><p>Engineer & Author</p></div>
        </div>
    </div>


    <div class="body_reviews">
        <div>
        <img src="../../assets/star-positive.svg"><img src="../../assets/star-positive.svg">
        <img src="../../assets/star-positive.svg"><img src="../../assets/star-positive.svg"><img src="../../assets/star-positive.svg">
        </div>
        <div>
            <p>"Was using this today - the best AI room photo reimaginer I have seen!"</p>
        </div>

        <div class="reviwes_profile">
            <div><img src="../../assets/smile.png" alt="profile"></div>
            <div><h1>Paul Hindes</h1><p>author</p></div>
        </div>
    </div>
</div>


<div class="sample_crt_msg">
    <h1>Rooms that <span>RoomGPT</span> created</h1>
</div>

<!-- media -->

<p-carousel [value]="images" [numVisible]="5" [numScroll]="1" [circular]="true" [autoplayInterval]="2500" [responsiveOptions]="responsiveOptions">
    <ng-template let-image pTemplate="item">
        <img [src]="image" alt="Image" class="scroll_img">
    </ng-template>
</p-carousel>



<!-- media -->

<div class="body_home1_result">

<div class="body_result_left">
    <div class="body_result_left_1">
    <h1><span>Transform any room</span> with just one photo</h1>
    </div>
    <div class="body_result_left_2">
        <p>See what our over 2 million users are saying about the product.</p>
    </div>
    <div><a class="body_result_left_3" href="#"><h1>Try it now</h1> <img src="../../assets/logout-03.svg"></a></div>
</div>
<div >
    <img class="result_img" src="../../assets/Group 1000003859.png">
</div>
</div>